* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.column-25 {
    float: left;
    width: 25%;
    padding: 15px;
}
/* Tip: stop het floaten van de kolommen */

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - wanneer het scherm kleiner is dan 600px zullen we de kolommen onder elkaar plaatsen door de breedte op 100% te zetten */

@media screen and (max-width: 600px) {
    .column, .column-25 {
        width: 100%;
        /*border: 5px solid green;*/
    }
}