h1 {
    background-color: maroon;
    text-align: center;
    color: white;
}

body{
    background-color: #eee;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: #ddffff;
    padding-left: 10px;
    border-left: 6px solid #2196f3;
}

p {
color: gray;
}

#extra{
    color: black
}

.lijntje{
    text-decoration: underline;
}